@use "../../styles/scss/base" as mixin;

  #mobileMenu_modal {
    // display: none;
    // opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 64.2px;
    left: 0;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;

    .mobileMenu_content {
      position: fixed;
      top: 64.2px;
      right: 0;
      height: 100%;
      width: 50%;
      background: radial-gradient(circle,#2c2c2c,#1f1f1f,#000000);
      z-index: 999;
      @include mixin.tablet {
        width: 40%;
      }
      #closeModalBtn {
        height: 32px;
        width: 32px;
        position: absolute;
        left: 0;
        top: 0;
        margin: 10px;
      }
      .links_menu {
        color: #ffffff;
        margin-top: 130px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li a {
          font-size: 20px;
          letter-spacing: 1px;
          color: #ffffff;
          &:hover {
            color: var(--color-cta-btn);
          }
        }
      }
    }
  }
